extends layout.pug

block head
    title Login

block content
    p(style="color: red")= error
    form(action="/users/login" method="post")
        label(for="name") Name:
        input(type="text" name="name")
        label(for="name") Password:
        input(type="password" name="password")
        input(type="submit" value="Login")
