extends layout.pug

block head
    title New User

block content
    form(action="/users" method="post")
        label(for="name") Name:
        input(type="text" name="name")
        input(type="submit" value="Create")
