extends layout.pug

block head
    title Users

block content
    h2
        | Views
        span= views
    ul
        each user in users
            li
                span(style=`color: ${color}`)= user.name
                -var delUrl = `/users/delete/${user.name}`
                a(href=delUrl) Delete

    a(href="/users/new") Create new user